@font-face {
	font-family: SF;
	src: url(/SFMonoRegular.woff);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: SF;
	text-align: center;
	color: rgba(255, 255, 255, 0.897);
	height: 320px;
	width: 700px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #10B1FE;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0c89c4;
}
